sap.ui.define([
	"jquery.sap.global",
	"sap/ui/core/mvc/Controller",
	"{{basicSAPUI5ApplicationProject.parameters.namespace.value}}/{{projectName}}/model/models",
	"sap/ui/model/json/JSONModel",
	"sap/m/MessageToast",
	"sap/ui/core/format/DateFormat",
	"sap/ui/model/Filter",
    "sap/ui/model/FilterOperator"
], function (jQuery, Controller, models, JSONModel, MessageToast, DateFormat, Filter, FilterOperator) {
	"use strict";

	return Controller.extend("{{basicSAPUI5ApplicationProject.parameters.namespace.value}}.{{projectName}}.controller.{{basicSAPUI5ApplicationProject.parameters.name.value}}", {
		onInit : function() {
        	var oView = this.getView();
        	//oView.addStyleClass(this.getOwnerComponent().getContentDensityClass());
        	this._initModel();
        },
        
        onSearch : function() {
			var oView = this.getView();
			var oModel = oView.getModel();
			var oImportParam = oModel.getProperty("/importParameter");
			$.ajax({
			    url: "https://vm-rndnpd.wdf.sap.corp:44320/fmcall/BAPI_FLIGHT_GETDETAIL?airlineid=" + oImportParam.AIRLINEID + "&connectionid=" + oImportParam.CONNECTIONID + "&flightdate=" + oImportParam.LFIGHTDATE + "&format=json",
			    dataType: 'jsonp',
			    success: function(data) {
			      console.log('성공 - ', data);
			      oModel.setProperty("/exportTableField" , data.RETURN);
			    },
			    error: function(xhr) {
			      console.log('실패 - ', xhr);
			    }
			});

        },
        
        _initModel : function() {
        	var oView = this.getView();
        	var oModel = new JSONModel({
        		importParameter : {
        		{{#each basicSAPUI5ApplicationProject.parameters.importParameter}}
        			{{customImportParamModelHelper}}
        		{{/each}}
        		},
        		
        	});
        	
        	oView.setModel(oModel);
        }
	});
});