<core:FragmentDefinition
   xmlns="sap.m"
   xmlns:t="sap.ui.table"
   xmlns:core="sap.ui.core">
   <Dialog
      id="helloDialog"
      title="{i18n>popupTitle}">
      <t:Table
      >
      
      </t:Table>
   </Dialog>
</core:FragmentDefinition>